/* Selectores generales */

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    border: 0px rgba(238, 14, 14) solid;
}

body {
    background-color: #FA9494;
    position: relative;
    bottom: 100px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color:  rgb(250, 73, 73);
    padding-bottom: 50px;
    margin: 5%;
}

h2, h3, p, .form-text {
    font-family: 'Arvo', serif;
    color:  #fa5454;
    margin: 5%;
}


/* nav-bar */
a {
    color:#F5EDDC;
    transition-timing-function: linear;
}

a:hover {
    color:#FA9494;
}

nav {
    position:fixed;
    top: 5%;
    right: 5%;
    text-align: right;
    font-size: 1.3em;
    
}

.navLink {
    margin: 0 10px;
}



/* Footer */


footer {
    background-color:#FA9494;
    text-align: center;
    padding-top: 10px;
    /*box-shadow: 0 50vh 0 50vh darkolivegreen;*/
}

footer p {
    color:white;
    font-size: larger;
}


/*Home styles*/

header.header-home {
    position:relative;
    top: 100px;
    font-size: 1.5em;
}

#homeTitle {
   
   font-size: 4em;
   color: #FA9494;
   min-height: 100px;
   margin: 0 30px 0 30px;
}

#titleBack {
   background-color: rgba(95, 80, 80, 0.4);
   width:fit-content;
   margin-left: 5%;
   position: relative;
   top: 300px;
}

.home {
    height: 800px; 
}

#homeBackground {
   
    background-image: url(../images/portada_helping_Jorge.jpeg);
    background-size: cover;
}



.home-hobbies-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #F5EDDC;
}

.hobbies-columns {
    /*border: solid 4px brown;*/
    margin: 30px 20px 30px 20px;
    padding: 30px;
    width: 250px;
    background-color: #F5EDDC;
    transition-duration: 1s;
}

.hobbies-image {
    width: 80%;
    margin-left: 10%;
    margin-right: 5%;
}

.hobbies-columns:hover {
    background-color: #e4dfd4;
    position:relative;
    left:15px;
    top: 15px;
    /*box-shadow: -15px -15px black;*/
}

/*contact*/

#contactBackground {
   
    /*background-image: url(../images/castañar-eltiemblo.jpg);*/
    background-color: #75e4e4;
    background-size: cover;

}


#form {
    margin: 100px 5% 50px 5%;
    height: 600px;
}

.form-container {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 5% 5% 5px 5%;
    width: fit-content;
}

.inline-form {
    display: flex;
    flex-flow: row wrap;
  }

  input[type=text] {
    font-family: 'Arvo', serif;
    color: #fa5454;
    border: solid 1px #fa5454;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 5% 5px 5%;
  }

  input[type=text]:focus{
    background-color: lightgray;
  }

  textarea {
    font-family: 'Arvo', serif;
    color: #fa5454;
    border: solid 1px #fa5454;
    border-radius: 5px;
    margin: 10px 2.5% 5px 2.5%;
    padding: 5px;
  }

.form-textarea {
    margin:0;
    color:#fa5454;
    font-family: 'Arvo', serif;
    margin: 10px 2.5% 5px 2.5%;
}

input[type=button] {
    font-family: 'Arvo', serif;
    color: #fa5454;
    border: solid 1px #fa5454;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 2.5% 50px 2.5%;
    background-color: #fa5454;
    color:white;
}



/*Biografia*/
#biografia-header{
    background-image: url(../images/Lanzarote-Timamfaya-road_2.jpg);
    background-size: cover;
    height: 650px;
}

.biografia-text-container {
    position: relative;
    bottom: 100px;
    background-color: rgb(227, 234, 241);
    
}
p.biografia-text {
    color: rgb(87, 87, 87);
    padding: 0 15% 0 15%;
}

p.biografia-text:last-child {
   padding-bottom: 100px;
}

h3.biografia-text {
    color: rgb(87, 87, 87);
}

.article1 {
    padding: 100px 15% 0 15%;
}

.article2 {
    padding: 0 15% 0 15%;
}

#biografia-title {
 position: relative;
 top:470px;
 color: white;
 font-weight: lighter;
 font-size: 35px;
 padding-left: 15%;
 padding-top: 5%;
}

#biografia-image1 {
    position: relative;
    bottom: 200px;
    width: 100%;
}

/*Portfolio*/

#portfolio-header {
    background-image: url(../images/Lanzarote-Timamfaya-road_2.jpg);
    background-size: cover;
    height: 650px;
}

#portfolio-container {

}

#portfolio-tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
    background-color: #F5EDDC;
}

#portfolio-tile {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    background-color: #fa5454;
    border-radius: 15px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    background-image: url("../images/bicycle.png");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s linear;
}

#portfolio-tile:hover{
    background-color: #ff9999;
    height: 210px;
    width: 210px;
    border-radius: 25px;
    background-image: none;
}

p.tile-text {
    color: rgb(255, 255, 255,0);
    transition: 0.5s linear;
    height: 100%;
    margin: 0;
    padding: 10%;
}

p.tile-text:hover {
    color: rgb(31, 27, 27);

}