/* Selectores generales */

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    border: px rgba(238, 14, 14) solid;
}

body {
    background-color: #FA9494;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color:  rgb(250, 73, 73);
    padding-bottom: 50px;
    margin: 5%;
}

h2, h3, p, .form-text {
    font-family: 'Arvo', serif;
    color:  #fa5454;
    margin-left: 5%;
    margin-top: 0;
    padding-top: 0;
}

/* nav-bar */
nav a {
    color:#F5EDDC;
    transition: 0.5s linear;
    padding: 0 10px;
    font-size: 1.2em;
}

nav a:hover {
    color:#ff5656;
    font-size: 1.1em;
}

nav {
    position:fixed;
    top: 5%;
    right: 5%;
    text-align: right;

    
}

/* Footer */


footer {
    background-color:#FA9494;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer p {
    color:white;
    font-size: larger;
    margin-bottom: 40px;
    margin-top: 40px;
}


/*Home styles*/

header.header-home {
    position:relative;
    top: 300px;
    font-size: 1.5em;
}

#homeTitle {
   
   font-size: 4em;
   color: #FA9494;
   min-height: 100px;
   margin: 0 30px 0 30px;
}

#titleBack {
   background-color: rgba(95, 80, 80, 0.4);
   width:fit-content;
   margin-left: 15%;
   position: relative;
   top: 500px;
}

#homeBackground {
    background-image: url(../images/portada_helping_Jorge.jpeg);
    background-size: cover;
    height: 800px;
}



.home-hobbies-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #F5EDDC;
}

.hobbies-columns {
    margin: 30px 20px 30px 20px;
    padding: 30px;
    width: 250px;
    background-color: #F5EDDC;
    transition-duration: 1s;
}

.hobbies-image {
    width: 80%;
    margin-left: 10%;
    margin-right: 5%;
}

.hobbies-columns:hover {
    background-color: #e4dfd4;
    position:relative;
    left:15px;
    top: 15px;
}

/*contact*/

#contactBackground {
    background-image: url("../images/castañar-eltiemblo.jpg");
    background-size: cover;
    width: 100%;
}

#form {
    padding: 0 5% 50px 5%;
    height: 800px;
}

.inline-form {
    display: flex;
    flex-flow: row wrap;
  }

  input[type=text] {
    font-family: 'Arvo', serif;
    color: #fa5454;
    border: solid 1px #fa5454;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 5% 5px 5%;
    transition: 0.5s lineal;
  }

  input[type=text]:focus {
    background-color: rgb(255, 228, 228);
  }

  textarea {
    font-family: 'Arvo', serif;
    color: #fa5454;
    border: solid 1px #fa5454;
    border-radius: 5px;
    margin: 10px 2.5% 5px 2.5%;
    padding: 5px;
    transition: 0.5s lineal;
  }

  textarea:focus {
    background-color: rgb(255, 228, 228);
  }

.form-textarea {
    margin:0;
    color:#fa5454;
    font-family: 'Arvo', serif;
    margin: 10px 2.5% 5px 2.5%;
}

input[type=button] {
    font-family: 'Arvo', serif;
    color: #fa5454;
    border: solid 1px #fa5454;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 2.5% 50px 2.5%;
    background-color: #fa5454;
    color:white;
}

input[type=button]:hover {
    background-color: #d44545;
}

.contact-flex {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 800px;

}

#contact-image {
    width: 500px;
    background-image: url("../images/imagen-contacto.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    margin-left: 80px;
    margin-top: 50px;
}

.form-container {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 5% 2% 5px 2%;
    border-radius: 20px;
    width: fit-content;
}

/*Biografia*/
#biografia-background{
    position: relative;
    bottom: 100px;
    background-image: url(../images/Lanzarote-Timamfaya-road_2.jpg);
    background-size: cover;
    height: 750px;
}

#header-biografia {
    height: 600px;
}

.biografia-text-container {
    position: relative;
    bottom:120px;
    background-color: rgb(227, 234, 241);    
}

.biografia-text-container2 {
    position: relative;
    bottom: 165px;
    background-color: rgb(227, 234, 241);   
}


article p {
    color: rgb(87, 87, 87);
    padding: 0 15% 0 15%;
    margin: 20px auto 20px;
}

article p:last-child {
   padding-bottom: 50px;
}

article h3 {
    color: rgb(87, 87, 87);
    padding: 20 15% 0 15%;
    margin: 20px auto 20px;
    padding: 100px 15% 0 15%;
}

tr h3 {
    padding-top:0;
}
#biografia-title {
 position: relative;
 top:470px;
 color: white;
 font-weight: lighter;
 font-size: 35px;
 padding-left: 15%;
 padding-top: 5%;
}

#biografia-image1 {
    position: relative;
    bottom: 140px;
    width: 100%;
}

/*Portfolio*/

#portfolio-header {
    background-image: url(../images/Lanzarote-Timamfaya-road_2.jpg);
    background-size: cover;
    height: 750px;
    position: relative;
    bottom:100px;
}

#portfolio-footer {
position: relative;
top: 800px;
padding-bottom: 50px;
}

#portfolio-tile-container {
    position: relative;
    top: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
    background-color: #F5EDDC;
    padding-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;
}

.portfolio-tile {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    background-color: #fa5454;
    border-radius: 15px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    transition: 0.5s linear;
}

#portfolio-tile:hover{
    background-color: #ff9999;
    height: 210px;
    width: 210px;
    border-radius: 25px;
    background-image: none;
}

p.tile-text {
    color: rgb(255, 255, 255,0);
    transition: 0.5s linear;
    height: 100%;
    margin: 0;
    padding: 10%;
}

p.tile-text:hover {
    color: rgb(31, 27, 27);

}

.tile1 {
    background-image: url("../images/logo-complutense.png");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s linear;
}

.tile1:hover {
    background-image: none;}

.tile2 {
    background-image: url("../images/Logo-Grecia.png");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s linear;
}
    
.tile2:hover {
    background-image: none;}

.tile3 {
    background-image: url("../images/Scotland-kit-logo.jpg");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s linear;
    }
        
.tile3:hover {
    background-image: none;}

.tile4 {
    background-image: url("../images/Logotipo_del_Instituto_Cervantes.svg.png");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s linear;
}
        
.tile4:hover {
    background-image: none;}

.tile5 {
    background-image: url("../images/logotipo\ SALT.png");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s linear;
}
                
.tile5:hover {
    background-image: none;}

.tile6 {
    background-image: url("../images/logo-university-edinburgh.png");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s linear;
}
                    
.tile6:hover {
    background-image: none;}